langchain
langchain-google-genai
python-dotenv
langchain-text-splitters
pypdf
langchain-core
langchain-postgres
fastapi
uvicorn
python-multipart
alembic
sqlalchemy
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
